{% extends 'assets/base.html' %}

{% block content %}
    <main role="main" class="container">
        <h1 class="mt-5">{{ title }}</h1>
        <hr>
        {{ error(form) }}
        {{ alert() }}
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.old_password.label() }}
                {{ form.old_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.new_password.label() }}
                {{ form.new_password(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password_confirm.label() }}
                {{ form.password_confirm(class="form-control", rows=5) }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </main>
{% endblock %}