{% extends 'assets/base.html' %}

{% block content %}
    <main role="main" class="container">
        <h1 class="mt-5">{{ title }}</h1>
        <hr>
        {{ error(form) }}
        {{ alert() }}
        <form method="POST" action="">
            {{ form.csrf_token() }}
            <div class="form-group">
                {{ form.email.label() }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group form-check">
                {{ form.remember_me(class="form-check-input") }}
                {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </main>
{% endblock %}